<div class="header">
    <div class="container-fluid">
        <div class="row" ng-if="showOverview">
            <div class="col-xs-12">
                <div class="citizen-name">{{name}}</div>
            </div>
        </div>
        <div class="row" ng-if="!showOverview">
            <div class="col-xs-1" ng-click="back()">
                <div class="citizen-name"><i class="fa fa-arrow-left"></i></div>
            </div>
            <div class="col-xs-11">
                <div class="citizen-name">{{name}}</div>
            </div>
        </div>
    </div>
</div>