@HeaderColor: #02aeff;
@HeaderText: white;
@HeaderBottomBorder: #4dccec;
@background: #EFEFEF;

@import "templates/header/header";

body, html {
  background-color: @background;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 119px;
}

.notificationbar {
  display: block;
  position: absolute;
  height: 56px;
  top: 62px;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.barbutton {
  position: relative;
  display: inline-block;
  height: 56px;
  width: 68px;
  background-color: white;
  float: left;

  i {
    height: 56px;
    width: 68px;
    font-size: 20px;
    color: rgba(151, 151, 151, 0.54);
    padding-left: 22px;
    padding-top: 17px;
  }

  .notification-container {
    position: absolute;
    right: 18px;
    top: 10px;
    width: 18px;
    height: 18px;
    background-color: red;
    color: white;
    padding-left: 5px;
    padding-top: 2px;
    font-size: 8px;
    font-weight: bold;
    border-radius: 50%;
    border: solid 2px;
    border-color: white;
  }
}

.cardcontainer {
  overflow-y: auto;
  .card {
    width: 45%;
    margin: 1%;
    float: left;
    background-color: white;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    padding: 1%;
  }
}

body {
  font-family: 'lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;

}