<div class="fab">
    <div ng-click="closeFab()" class="shader {{open ? 'shadervisible' : ''}}"></div>
    <div class="bullet {{open ? 'shadervisible' : ''}}">
        <div class="text">Ny observering <ripple on-click="openObservationFunc"></ripple></div><div class="box"><i class="fa fa-sticky-note-o"></i></div>
    </div>
    <div class="bullet {{open ? 'shadervisible' : ''}}">
        <div class="text">Ny observering</div><div class="box"><i class="fa fa-sticky-note-o"></i></div>
    </div>
    <div class="fab-button"><i class="fa fa-plus"></i><ripple on-click="openFab"></ripple></div>

    <popup open="openObservation" on-cancel="closeObservation" on-save="saveObservation">
        <div class="Popup-header">
            <h3>Ny observation</h3>
        </div>
        <div class="references">
            <h4>Hvilket område tilhører denne observation?</h4>
            <div class="button add-reference">Vælg område
                <ripple on-click="openObservationSelect"></ripple>
            </div>
            <div class="reference" ng-if="values.observationLink">
                {{values.observationLink}}
            </div>
            <div ng-if="!values.observationLink" class="reference">
                <div class="hint"><i class="fa fa-hand-pointer-o"></i> Du skal vælge et område
                </div>
            </div>
        </div>
        <selectlinkpopup conditional="tau" present-sel="suls" open="values.observationSelect"></selectlinkpopup>
        <div class="textarea-wrapper"><textarea ng-model="values.observationText"></textarea></div>
        <div class="info">Denne opdatering bliver gjort tilgængelig for både andre faggrupper og borger</div>
    </popup>
</div>