.Plan {
  .no-select;
  h4 {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .dropdown {
    position: absolute;
    top: 0px;
    right: 15px;
  }
  .duty-entry {
    position: relative;
    &.done {
      color: lightgray;
      text-decoration: line-through;
    }
    padding-left: 15px;
    padding-right: 40px;
    padding-bottom: 7px;
    font-size: 1.1em;

    .duty-title {
      font-weight: 400;
      margin-bottom: -8px;
    }
  }
}