.Plan {
  .no-select;
  h4 {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .dropdown {
    position: absolute;
    top: 0px;
    right: 15px;
  }
  .duty-entry {
    position: relative;
    &.done {
      color: lightgray;
      text-decoration: line-through;
    }
    padding-left: 15px;
    padding-right: 40px;
    padding-bottom: 7px;
    font-size: 1.1em;

    .duty-title {
      font-weight: 400;
      margin-bottom: -8px;
    }
  }
  .Popup {
    .textarea-wrapper {
      padding-left: 15px;
      padding-right: 15px;
      textarea {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
        min-height: 300px;

      }
    }
    .Popup-header {
      padding: 20px 15px;
      background-color: @HeaderColor;
      margin-top: -21px;
      margin-left: -1px;
      margin-right: -1px;
      margin-bottom: 25px;
      h3 {
        color: white;
      }
    }
  }
}