.Mymessages {
  h5 {
    padding: 15px;
  }
  .no-messages {
    padding: 50px 30px;
    background-color: #e8e8e8;
    border-top: 1px solid #d1d1d1;
  }
}

.Mymassignments {
  h5 {
    padding: 15px;
  }
  .no-messages {
    padding: 50px 30px;
    background-color: #e8e8e8;
    border-top: 1px solid #d1d1d1;
  }
}